/*-----iMPORTS--*/
/* line 1, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/views/_estiloMain.scss */
.cuerpo {
  background-color: #B00000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23920000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23730000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23550000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23360000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23180000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 0.5%;
}

/* line 1, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/views/_estiloPieDePagina.scss */
.pie_pagina {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230d0d0d' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23171717' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%231e1e1e' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23262626' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%232E2E2E' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/*---Variables---*/
/*imagen de fondo de logo */
/* line 3, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_header.scss */
.nav-bar {
  background-image: url(../imagenes/fondoLogo1.jpg);
  background-repeat: no-repeat;
  background-position-y: 38%;
  width: 100vw;
  border: solid 5px;
  border-color: #0f0f0f;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  color: #f1f0e9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 21, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_header.scss */
.navbar-nav a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 1rem !important;
}

/* line 25, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_header.scss */
.navbar-nav a:hover {
  border: solid #6d0a0a !important;
  border-radius: 5px;
  transition: 1.5s;
  transform: scale(1.2);
  color: #0f0e0e !important;
}

/* line 36, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_header.scss */
.logo {
  border: solid 7px;
  border-radius: 5px;
  color: #1d1b1b;
  background: url(rutaImagenFondoLogo);
  background-size: 1500px;
  background-position-y: -290px;
  background-repeat: no-repeat;
  width: 13vw;
}

/* line 45, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_header.scss */
.logo:hover {
  transform: rotate(360deg);
  transition: 2s;
  border-color: #8b0606 !important;
}

/* line 2, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainIndex.scss */
#textoCarrousel {
  font-size: 1rem !important;
}

/* line 4, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainIndex.scss */
#textoCarrousel:hover {
  color: grey !important;
  transition: 2s;
}

/* line 12, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainIndex.scss */
.carousel-inner img {
  height: 100vh;
  width: 90vw;
  border: solid 4px;
  border-color: #0f0303;
  margin-top: 0.5%;
}

/* line 23, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainIndex.scss */
#tituloInicio {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 3rem !important;
  color: white;
  margin: auto;
  font-style: oblique;
}

/* line 29, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainIndex.scss */
#tituloInicio:hover {
  color: #050505;
  transition: 2s;
}

/* line 35, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainIndex.scss */
#videoIntroduccion {
  margin-top: 1%;
  padding-bottom: 0.5%;
}

/* line 42, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainIndex.scss */
.carousel-inner img {
  width: 100%;
  max-height: 40rem !important;
}

/* line 1, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainSobreNosotros.scss */
#tituloSobreNosotros {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.9rem !important;
  color: white;
  margin: auto;
  font-style: oblique;
}

/* line 7, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainSobreNosotros.scss */
#tituloSobreNosotros:hover {
  color: #050505;
  transition: 2s;
}

/* line 12, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainSobreNosotros.scss */
.cardContainer {
  background-color: #B00000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23920000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23730000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23550000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23360000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23180000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border: solid 4px;
  border-radius: 20px;
  border-color: black;
}

/* line 21, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainSobreNosotros.scss */
.cardContainer .cardTituloTexto {
  font-size: 1.5rem  !important;
}

/* line 23, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainSobreNosotros.scss */
.cardContainer .cardTituloTexto:hover {
  color: grey !important;
  transition: 2s;
}

/* line 29, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainSobreNosotros.scss */
.cardContainer .cardTexto {
  margin-bottom: 2% !important;
}

/* line 31, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainSobreNosotros.scss */
.cardContainer .cardTexto:hover {
  color: grey !important;
  transition: 2s;
}

/* line 2, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#Titulo_productos {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: auto;
  font-size: 3rem;
  font-style: oblique;
}

/* line 8, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#Titulo_productos:hover {
  color: #050505;
  transition: 2s;
}

/* line 14, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#titulo-galeria {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: auto;
  margin-bottom: 1%;
  margin-top: -4%;
  font-style: oblique;
  font-size: 2.7rem !important;
}

/* line 22, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#titulo-galeria:hover {
  color: #050505;
  transition: 2s;
}

/* line 28, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#galeria {
  row-gap: 8px;
  column-gap: 7%;
}

/* line 34, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1, #producto2, #producto3, #producto4, #producto5, #producto6, #producto7, #producto8, #producto9 {
  background-color: #B00000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23920000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23730000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23550000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23360000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23180000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border: solid black;
}

/* line 40, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1:hover, #producto2:hover, #producto3:hover, #producto4:hover, #producto5:hover, #producto6:hover, #producto7:hover, #producto8:hover, #producto9:hover {
  border-color: #810404 !important;
  transition: 2s;
}

/* line 47, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 img:hover, #producto2 img:hover, #producto3 img:hover, #producto4 img:hover, #producto5 img:hover, #producto6 img:hover, #producto7 img:hover, #producto8 img:hover, #producto9 img:hover {
  border: 5px solid #6b1515 !important;
  -webkit-transform: scale(0.9);
  transform: scale(1.1);
  transition: transform 1.5s;
}

/* line 55, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 #tituloCard, #producto2 #tituloCard, #producto3 #tituloCard, #producto4 #tituloCard, #producto5 #tituloCard, #producto6 #tituloCard, #producto7 #tituloCard, #producto8 #tituloCard, #producto9 #tituloCard {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 1.3rem !important;
  font-weight: normal !important;
}

/* line 59, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 #tituloCard:hover, #producto2 #tituloCard:hover, #producto3 #tituloCard:hover, #producto4 #tituloCard:hover, #producto5 #tituloCard:hover, #producto6 #tituloCard:hover, #producto7 #tituloCard:hover, #producto8 #tituloCard:hover, #producto9 #tituloCard:hover {
  color: grey !important;
  transition: 2s;
}

/* line 65, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 #textoCard, #producto2 #textoCard, #producto3 #textoCard, #producto4 #textoCard, #producto5 #textoCard, #producto6 #textoCard, #producto7 #textoCard, #producto8 #textoCard, #producto9 #textoCard {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 0.8rem !important;
}

/* line 68, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 #textoCard:hover, #producto2 #textoCard:hover, #producto3 #textoCard:hover, #producto4 #textoCard:hover, #producto5 #textoCard:hover, #producto6 #textoCard:hover, #producto7 #textoCard:hover, #producto8 #textoCard:hover, #producto9 #textoCard:hover {
  color: grey !important;
  transition: 2s;
}

/* line 75, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 .boton, #producto2 .boton, #producto3 .boton, #producto4 .boton, #producto5 .boton, #producto6 .boton, #producto7 .boton, #producto8 .boton, #producto9 .boton {
  background: #f0f1f3;
  position: relative;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  width: 50%;
  transition: .5s;
  height: 15%;
  padding-left: 0%;
  padding-right: 0;
  margin-left: 22%;
  font-weight: normal !important;
}

/* line 90, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 .boton:hover, #producto2 .boton:hover, #producto3 .boton:hover, #producto4 .boton:hover, #producto5 .boton:hover, #producto6 .boton:hover, #producto7 .boton:hover, #producto8 .boton:hover, #producto9 .boton:hover {
  letter-spacing: 0.15em;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

/* line 97, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 .boton::before, #producto2 .boton::before, #producto3 .boton::before, #producto4 .boton::before, #producto5 .boton::before, #producto6 .boton::before, #producto7 .boton::before, #producto8 .boton::before, #producto9 .boton::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}

/* line 103, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainProductos.scss */
#producto1 .boton span, #producto2 .boton span, #producto3 .boton span, #producto4 .boton span, #producto5 .boton span, #producto6 .boton span, #producto7 .boton span, #producto8 .boton span, #producto9 .boton span {
  position: relative;
  z-index: 1;
}

/* line 1, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#tituloUbicacion {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: auto;
  font-style: oblique;
  font-size: 2.9rem !important;
  margin-bottom: 2%;
  margin-left: 4% !important;
}

/* line 9, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#tituloUbicacion:hover {
  color: #050505;
  transition: 2s;
}

/* line 15, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#mapaUbicacion {
  border-style: groove;
  border-color: white;
  padding: 3px;
}

/* line 19, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#mapaUbicacion:hover {
  border-color: black !important;
  transition: 2s;
}

/* line 30, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#ubicacion ulhover {
  filter: blur(5px);
}

/* line 33, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#ubicacion ul li {
  width: 70px;
  height: 60px;
  text-align: center;
  list-style: none;
  margin-left: 0%;
}

/* line 40, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#ubicacion ul li a {
  display: block;
  padding: 0 10px;
  color: white;
  line-height: 50px;
  font-size: 60px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: .2s;
}

/* line 49, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#ubicacion ul li a:hover {
  transform: translatey(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  filter: none;
}

/* line 60, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#ubicacion h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 1.2rem !important;
}

/* line 63, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#ubicacion h2:hover {
  color: grey !important;
  transition: 2s;
}

/* line 68, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#ubicacion h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 1.2rem !important;
}

/* line 71, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainUbicacion.scss */
#ubicacion h3:hover {
  color: grey !important;
  transition: 2s;
}

/* line 1, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainContacto.scss */
#tituloContacto {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 3rem;
  color: white;
  margin: auto;
  font-style: oblique;
}

/* line 7, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainContacto.scss */
#tituloContacto:hover {
  color: #050505;
  transition: 2s;
}

/* line 14, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainContacto.scss */
#textoContacto p {
  font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif !important;
  margin-top: 1%;
}

/* line 17, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainContacto.scss */
#textoContacto p:hover {
  color: grey !important;
  transition: 2s;
}

/* line 25, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainContacto.scss */
.btn-secondary {
  background-color: #070606 !important;
  width: 5.5rem;
}

/* line 28, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainContacto.scss */
.btn-secondary:hover {
  background-color: #b10404 !important;
}

/* line 33, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_mainContacto.scss */
.fondoRelleno:hover {
  background-color: rgba(0, 0, 0, 0.671) !important;
  color: white !important;
}

/* line 3, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ulhover {
  filter: blur(5px);
}

/* line 7, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ul li {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  list-style: none;
  padding-top: 30%;
}

/* line 15, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: white;
  line-height: 35px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: .2s;
}

/* line 25, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ul li a:hover {
  transform: translatey(-3px) scale(1.4);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  filter: none;
  transition: 1s;
}

/* line 34, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ul li .facebook:hover {
  background: var(--facebook);
}

/* line 38, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ul li .twitter:hover {
  background: var(--twitter);
}

/* line 42, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ul li .youtube:hover {
  background: var(--youtube);
}

/* line 46, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ul li .instagram:hover {
  background: var(--instagram);
}

/* line 50, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes ul li .whatsapp:hover {
  background: var(--whatsapp);
}

/* line 56, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#Redes #titulo_redes_sociales {
  color: #e6dada !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 1.1rem !important;
  font-weight: normal !important;
}

/* line 67, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
.texto_footer {
  margin-top: 12%;
}

/* line 69, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
.texto_footer h3, .texto_footer h4, .texto_footer h5, .texto_footer h6 {
  font-size: .7rem !important;
}

/* Variables*/
/* line 77, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --youtube: #bd081c;
  --whatsapp: #0f4e0c;
  --mastercard:#3b5999;
  --paypal:rgba(146, 146, 8, 0.925);
  --visa:rgb(126, 45, 8);
  --qr:rgb(184, 8, 8);
  --bitcoin:rgb(22, 10, 131);
}

/* line 93, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago #titulo_medios_pago {
  color: #e6dada !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 1.1rem !important;
  font-weight: normal !important;
  margin-left: 14%;
}

/* line 101, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ulhover {
  filter: blur(5px);
}

/* line 105, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ul li {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  list-style: none;
  padding-top: 30%;
}

/* line 113, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: white;
  line-height: 35px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: .2s;
}

/* line 123, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ul li a:hover {
  transform: translatey(-3px) scale(1.4);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  filter: none;
  transition: 1s;
}

/* line 132, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ul li .mastercard:hover {
  background: var(--mastercard);
}

/* line 136, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ul li .paypal:hover {
  background: var(--paypal);
}

/* line 140, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ul li .visa:hover {
  background: var(--visa);
}

/* line 144, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ul li .qr:hover {
  background: var(--qr);
}

/* line 148, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/layout/_footer.scss */
#medios_pago ul li .bitcoin:hover {
  background: var(--bitcoin);
}

/*Contenedor general*/
/* line 13, ../../../Users/rodri/Desktop/Curso de Desarrollo de Web/Proyecto Final/EntregaProyectoFinal/MyStyle-Montoya/scss/estilo.scss */
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

/*# sourceMappingURL=estilo.css.map */