/*-----iMPORTS--*/
@import './views/estiloMain';
@import './views/estiloPieDePagina';
@import './layout/header';
@import './layout/mainIndex';
@import './layout/mainSobreNosotros';
@import './layout/mainProductos';
@import './layout/mainUbicacion';
@import './layout/mainContacto';
@import './layout/footer';

/*Contenedor general*/
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}











 