
 #textoCarrousel{
 font-size:1rem!important;
   &:hover{
      color:grey !important;
      transition:2s;
   }
    
}
.carousel-inner  {

    img{ 
    height:100vh;
    width:90vw; 
    border:solid 4px;
    border-color: rgb(15, 3, 3);
     margin-top:2%;
    }
 
}


#tituloInicio{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
   font-size:3rem !important;
   color:white;
   margin:auto;
   font-style: oblique;
   text-decoration: underline;
   &:hover{
    color:rgb(5, 5, 5);
    transition:2s; 
   }
   
}
#videoIntroduccion{
    margin-top: 1%;
    padding-bottom:0.5%; 
  
}

.carousel-inner {
    img{
     width: 100%;
     max-height: 40rem!important;
    }
    
}

