#tituloContacto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 3rem;
    color:white;
    margin:auto;
    font-style: oblique;
    text-decoration: underline;
    &:hover{
     color:rgb(5, 5, 5);
     transition:2s; 
    } 
}

#textoContacto{
    p{
        font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif !important;
        margin-top: 1%;
        &:hover{
            color:grey !important;
            transition:2s;  
        }
    }
}


.btn-secondary {
    background-color: rgb(7, 6, 6) !important;
    width:5.5rem;
    &:hover{
        background-color:rgb(177, 4, 4) !important;
    }
    
}
.fondoRelleno:hover{
    background-color: rgba(0, 0, 0, 0.671) !important;
    color:white !important;
}

