
#Titulo_productos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color:white;
   margin:auto;
   font-size: 3rem;
   font-style: oblique;
   text-decoration: underline; 
   &:hover{
      color:rgb(5, 5, 5);
      transition:2s; 
   }
}

 #titulo-galeria{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin:auto;
    margin-bottom:1%;
    margin-top: -4%;
    font-style: oblique;  
    font-size:2.7rem !important;
     &:hover{
        color:rgb(5, 5, 5);
        transition:2s; 
     }
 }

 #galeria{
     row-gap:8px;
     column-gap:7%;
     &:hover{
      color:rgb(5, 5, 5);
      transition:2s; 
   }
    
 }
 
 #producto1,#producto2,#producto3,#producto4,#producto5,#producto6,#producto7,#producto8,#producto9{
    background-color: #B00000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23920000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23730000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23550000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23360000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23180000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    border: solid black;
    &:hover{
        border-color: rgb(129, 4, 4) !important;
        transition:2s;
    }

    img{

        &:hover{
            border: 5px solid rgb(107, 21, 21)!important;
            -webkit-transform: scale(0.9);
            transform: scale(1.1);
            transition: transform 1.5s;
        }
    }

    #tituloCard{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
     font-size:1.3rem !important;
     font-weight:normal!important;
      &:hover {
        color:grey !important;
        transition:2s;
      }
        
    }
    #textoCard{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        font-size:1.5rem !important;
        animation-name: precioCard;
         animation-duration: 2s;
         animation-timing-function: ease-in-out;
         animation-delay: 1;
         animation-iteration-count: infinite;
         animation-direction: normal;
         animation-fill-mode: forwards;
         animation-play-state: initial;
         @keyframes precioCard {
          0% {
            opacity: 0;
            transform: translateX(-100px);
          }
          20%,80% {
            opacity: 1;
            transform: translateX(0);
          }
          100% {
            opacity: 0;
            transform: translateX(100px);}
        }
        
    }

   .boton{
    background:#f0f1f3;
    position:relative;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    width:50%;
    transition:.5s;
     height:25%;
     padding-left: 0%;
     padding-right: 0;
     margin-left:23%;
     font-weight:normal!important;
    &:hover{
        letter-spacing: 0.15em;
        background:var(--clr);
        color:var(--clr);
        box-shadow: 0 0 35px var(--clr);
    }
    
     &::before{
        content:'';
        position:absolute;
        inset: 2px;
        background:#27282c;
     }
      span{
        position:relative;
        z-index:1;
       
      }
       
 }
}