#tituloUbicacion {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin:auto;
    font-style: oblique;
    font-size:2.9rem !important;
    margin-bottom:2%;
    margin-left:4% !important;
    text-decoration: underline;
      &:hover{
        color:rgb(5, 5, 5);
        transition:2s; 
    }
}

#mapaUbicacion {
    border-style: groove;
    border-color: white;
    padding: 3px;
    &:hover{
        border-color:black !important;
        transition:2s;
    }
}
 


#ubicacion{

    ul{
        &hover {
            filter: blur(5px);
          }
        li{
            width:70px;
            height:60px;
            text-align: center;
            list-style: none;
            margin-left:0%;
           
            a{
                display: block;
                padding: 0 10px;
                color: white; 
                line-height: 50px;
                font-size: 60px;
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
                transition: .2s;
               
                &:hover {
                    transform: translatey(-3px) scale(1.05);
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
                    filter: none;
                  }
            }
        }
    }
   
        
       
         h2{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
            font-size: 1.2rem !important;
               &:hover{
               color: grey !important;
                transition:2s;}
            }

            h3{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                font-size: 1.2rem !important;
                  &:hover{
                    color: grey !important;
                    transition:2s;
                  }
            }
          
            }